<!DOCTYPE html>
<html>
    <head>
        <title>Dog VS Cat</title>
    </head>

    <body>
        <table border="10">
            <thead>
                <tr>
                    <td>
                        <span style="font-size: 20px; font-weight: bold;">Chien</span>
                    </td>
                    <td>
                        <span style="font-size: 20px; font-weight: bold;">Chat</span>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <% dogs.forEach(t => { %>
                            <img src="<%= t %>" style="max-width: 200px" /><br>
                        <% }); %>
                    </td>

                    <td>
                        <% cats.forEach(t => { %>
                            <img src="<%= t %>" style="max-width: 200px" /><br>
                        <% }); %>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>